#js-dojo_icon{
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    font-size: 16pt;
    text-align: center;
    text-shadow: 1px 1px 1px #BBBBBB;
    color: #BBBBBB;
    padding: 1px 0;
}

#js-dojo_icon:hover{
    text-decoration: none;
}

#js-dojo_icon[active="true"]{
    color: #78B2F2;
}

.ext_jsdojo .modal-header{
    height: 17px;
}

.ext_jsdojo #btn-close{
    position: absolute;
    right: 10px;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px 5px;
    cursor: pointer;
}